:root {
    --dark-red: darkred;
    --light: #fff;
    --dark: #303030;
    --accent: #16e0bd;
    --navy: #3C5581;
  }

  html, body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  section {
    height: 100%;
    width: 100%;
  }
  
  
  * {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Tahoma;
  }
  
  #navbar {
    height: 3.5rem;
    width: 100%;
    background-color: var(--dark-red);
    position: fixed;
    z-index: 1;
  }
  
  #nav-options {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  #nav-options > li {
    color: var(--light);
    margin-right: 1rem;
    padding: 1rem;
    display: block;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
  
  li > a:hover {
    background-color: var(--navy);
    /* height: 100%;
    width: 100%; */
    cursor: pointer;
  }


  /* Welcome section */
  
  #welcome-section{
    background-color: var(--dark);
    text-align: center;
    vertical-align: middle;
  }
  
  #welcome-section > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #joe {
    color: var(--light);
    font-size: 3rem;
  }
  
  #web-developer {
    /* color: var(--dark-red); */
    color: red;
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0.6;
  }

  
  /* Projects section */

  #projects {
    /* background-color: var(--dark); */
    background-color: var(--navy);
  }
  
  #projects h2 {
    color: var(--light);
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }
  
  .projects-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* margin: 0 auto; */
    padding: 20px 10px;
  }
  
  .projects-image > a {
    text-decoration: none;
    transition: transform 0.5s;
  }
  
  .projects-image > a:hover {
    transform: scale(1.05);
  }
  
  /* .projects-image > a > h3:hover:after {
    content: "<"attr(h3)"/>";
  } */
  
  .projects-image > a > img {
    /* width: 100%; */
    width: 350px;
    /* max-width: 350px; */
    height: 300px;
    object-fit: cover;
    /* object-fit: scale-down; */
  }
  
  .project-tile {
    color: var(--light);
    /* opacity: 0.6;  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 4rem;
    width: 100%;
    background-color: var(--dark);
  }
  

  /* Social media section */

  #social-media {
    background-color: var(--dark);
    margin-top: -32px;
  }
  
  #social-media > * {
    margin: 2rem;
    position: relative;
    top: 40%;
    text-align: center;
  }
  
  #social-media h1 {
    /* margin-top: -5rem; */
    font-size: 3rem;
    color: var(--light);
  }
  
  #social-media p {
    font-style: italic;
    margin-top: -1.5rem;
    margin-bottom: 4rem;
    color: var(--light);
    opacity: 0.6;
  }
  
  footer > a {
    padding: 3rem;
    position: relative;
    text-align: center;
    /* background-color: lightblue; */
    text-decoration: none;
    color: var(--light);
  }
  
  i {
    font-size: 20px
  }
  
  @media (max-width: 300px) {
    .projects-image > a > img {
    /* width: 100%; */
    width: 200px;
    /* max-width: 350px; */
    height: 80px;
    object-fit: cover;
    }
    
  }
